
$primary: #AE58EB;
$success: #13E8AE;
$danger: #F23B4C;
$info: #49B9F9;

@import "bulma";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";